[user]
    name = {{ .git_name }}
    email = {{ .git_email }}
[init]
    defaultBranch = main
    templateDir = ~/.config/git/template
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[fetch]
    prune = true
[rerere]
    enabled = true
[core]
    pager = delta
    editor = nvim
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
[merge]
    conflictstyle = zdiff3
[diff]
    colorMoved = default
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[alias]
    dft = difftool
    dlog = -c diff.external=difft log -p --ext-diff
    absorb = absorb --and-rebase
[credential "https://github.com"]
    helper = !gh auth git-credential
[url "git@github.com:"]
    insteadOf = gh:
